{% extends 'base.html.twig' %}

{% block title %}Jeu des 1000€{% endblock %}

{% block stylesheets %}
	<style>
		a:visited{color: black;text-decoration: none;}
		a:hover{color: white;text-decoration: none;}
		#players:visited{color: red;}
	</style>
{% endblock %}


{% block body %}
	<div class="container mt-1">
		<div class="jumbotron text-center">
			<h1>"Jeu des 1000€"</h1>
			<hr>
			{% if app.session.get('players') is defined %}
			<h3 class="text-capitalize" style="font-size: 4rem;">{{ app.session.get('players')|first}} & {{ app.session.get('players')|last}}</h3>
			<div>Montant en jeu : {% if app.session.get('score') %}{{ app.session.get('score') }}{% else %}0{% endif %} €</div>
			{% endif %}
		</div>
		<div class="btn-block btn-{{ status }} btn-lg text-center">{{ niveau }} {% if app.session.get('chance') == 1 %}2ème chance{% endif %}</div>
		{% if question is defined %}
		<div class="progress mt-1" style="height: 3em">
			<div class="progress-bar" role="progressbar" valuenow="0" aria-valuemin="0" aria-valuemax="30"></div>
		</div>
		{% endif %}
		<hr>
		<div class="row">
		{% if question is defined %}
			<div class="col-lg-6">
				<div class="jumbotron">
					<div class="row">
						<div class="col-lg-3" onclick="javascript:visibilite('question'); return false;">
				  		<div class="btn btn-outline-primary" onclick="javascript:decompte(); return false;">
					  		<div><i class="fas fa-question-circle" style="font-size: 3rem;"></i></div>
					  		<div>Nouvelle Question</div>
				  		</div>
			 	 	</div>
			  		<div class="col-lg-8 ml-1" style="display:none" id="question">{{ question.question }}</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="jumbotron">
					<div class="row">
						<div class="col-lg-3" onclick="javascript:visibilite('reponse'); return false;">
			  			<button class="btn btn-outline-info" onclick="javascript:stop(); return false;">
					  		<div><i class="fas fa-comment-dots" style="font-size: 3rem;"></i></div>
				  			<div>Obtenir la réponse</div>
				  		</button>
				  	</div>
			  		<div class="col-lg-8 ml-1" style="display:none" id="reponse">{{ question.answer }}</div>
					</div>
				</div>
			</div>
		{% endif %}  	
		{% if reponse is defined %}
			<div class="col-lg-6">
		    	<div class="btn-block btn-md"></div>
		    	<a href="{{ path('reponse', {reponse: 'good'})}}"><div class="btn-block btn-success btn-lg text-center">{{ reponse|first }}</div></a>
		    </div>
			<div class="col-lg-6">
				<div class="btn-block btn-md"></div>
				<a href="{{ path('reponse', {reponse: 'bad'})}}"><div class="btn-block btn-danger btn-lg text-center">{{ reponse|last }}</div></a>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
<script>

 	var i = 0
 	var ting = new Audio('snd/1111.wav');
 	var fin = new Audio('snd/1112.wav');
 	var p = document.querySelector(".progress-bar")
 	var timer

	function visibilite(thingId) {
		var targetElement;
		targetElement = document.getElementById(thingId)
		if (targetElement.style.display == "none") {
			targetElement.style.display = ""
		} else {
			targetElement.style.display = "none"}
	}

	function decompte() {

		if(timer){
		clearTimeout(timer)
		}else{
		var timer = setInterval(function () {
	    	
	     	if (i<30){
		    	i++
				ting.play()
				p.innerHTML = 30-i+1
				p.style = "width: "+Math.round(i*3.3)+"%"
	     	} else {
				fin.play()
				clearTimeout(timer)
				p.innerHTML = 0
				p.style = "width: 100%"
				p.className += " progress-bar-striped";
	     	}
		}, 1000)
	}
	}

	function stop(){
		fin.play()
		i = 30
	}

</script>
{% endblock %}
